*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin: 0;
    background-color: rgb(232, 232, 232);
    position: relative;
}

header{
    color: white;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 41, 41);
    height: 4rem;
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid black;
    font-size: 1.5rem;
    z-index: 10;
}
.left_header{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.menu_icon{
    cursor: pointer;
}
.menu_box{
    z-index: 9;
    height: 100vh;
    width: 250px;
    position: fixed;
    cursor: pointer;
    left: -100%;
    top: 4rem;
    background-color: rgb(64, 63, 63);
    border-right: 2px solid black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 1.5s ease-in;
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 10px;
    padding: 10px 20px ;
    font-size: 1.5rem;
}
.algorithms_list_item{
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 8px;
    font-size: 1.2rem;
}
.menu_box.move{
    left: 0;
}
.middle_header{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}
#logo_image{
    width: 35px;
    height: 35px;
    padding: 2px;
    margin: 0 10px;
    color: beige;
    background-color: white ;
    border-radius: 10%;
}
.right_header{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.icon_header{
    padding: 0 15px;
    font-size: 3rem;
}
main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Sửa lỗi */
    column-gap: 1rem;
    height: 350px;
}

article {
    background-color: rgb(255, 255, 255);
    height: 100%;
    border: 1px solid black;
}

aside {
    background-color: rgb(255, 255, 255);
    height: 100%;
    border: 1px solid black;
}


#network{
    width:600px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}